<div class="container">
  <!-- Add record -->
  <h2 *ngIf="data.type === 'create'" mat-dialog-title>Add Doctor</h2>
  <h2 *ngIf="data.type === 'edit'" mat-dialog-title>Update Doctor</h2>

  <form [formGroup]="addForm" (ngSubmit)="onSubmit(data.id)">
    <input formControlName="id" type="hidden" [(ngModel)]="data.id" />
    <mat-form-field>
      <mat-label>Enter UserName</mat-label>
      <input
        [class.is-invalid]="username.invalid && username.touched"
        formControlName="username"
        matInput
        type="text"
        [(ngModel)]="data.username"
      />
      <button
        mat-button
        *ngIf="data.username"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="data.username = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <!-- process error message for fullName-->
      <mat-error *ngIf="username.touched && username.invalid">
        <small *ngIf="username.errors?.required" style="color: red;"
          >Name is required</small
        >
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter Name</mat-label>
      <input
        [class.is-invalid]="fullName.invalid && fullName.touched"
        formControlName="fullName"
        matInput
        type="text"
        [(ngModel)]="data.fullName"
      />
      <button
        mat-button
        *ngIf="data.fullName"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="data.fullName = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <!-- process error message for fullName-->
      <mat-error *ngIf="fullName.touched && fullName.invalid">
        <small *ngIf="fullName.errors?.required" style="color: red;"
          >Name is required</small
        >
        <small *ngIf="fullName.errors?.minlength" style="color: red;"
          >Name must be at least 3 characters</small
        >
        <small *ngIf="fullName.errors?.forbiddenName" style="color: red;"
          >Name {{ fullName.errors?.forbiddenName.value }} is not allowed
        </small>
      </mat-error>
    </mat-form-field>
    <!-- <small [hidden]="addForm.get('name').valid || addForm.get('name').untouched" style="color:red">Name is required</small> -->

    <div class="radio-group">
      <p>Gender</p>
      <mat-radio-group
        formControlName="gender"
        [class.is-invalid]="gender.invalid"
        aria-label="Gender"
      >
        <mat-radio-button [checked]="data.gender === 1" value="1"
          >Nam
        </mat-radio-button>
        <mat-radio-button [checked]="data.gender === 2" value="2"
          >Nu</mat-radio-button
        >
      </mat-radio-group>
    </div>
    <mat-form-field>
      <input
        type="date"
        matInput
        formControlName="dateOfBirth"
        [class.is-invalid]="dateOfBirth.invalid && dateOfBirth.touched"
        [(ngModel)]="data.dateOfBirth"
      />
    </mat-form-field>

    <!-- input title -->

    <mat-form-field>
      <mat-label>Enter Title</mat-label>
      <input
        [class.is-invalid]="title.invalid && title.touched"
        formControlName="title"
        matInput
        type="text"
        [(ngModel)]="data.title"
      />
      <button
        mat-button
        *ngIf="data.title"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="data.title = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <!-- process error message for title -->
      <mat-error *ngIf="title.touched && title.invalid">
        <small *ngIf="title.errors?.required" style="color: red;"
          >Title is required</small
        >
      </mat-error>
    </mat-form-field>
    <!-- select hospital -->
    <div class="selectHospital">
      <mat-form-field>
        <mat-label>Choose a hospital</mat-label>
        <mat-select
          #selectHospital
          formControlName="hospital"
          [class.is-invalid]="hospital.invalid && hospital.touched"
          (selectionChange)="loadDepartmentByHosId($event)"
        >
          <mat-option *ngFor="let hospital of hospitals" [value]="hospital.id">
            {{ hospital.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- select department -->
    <div class="selectDepartment">
      <mat-form-field>
        <mat-label>Choose a department</mat-label>
        <mat-select
          [disabled]="!hospital.value"
          formControlName="departmentId"
          [class.is-invalid]="departmentId.invalid && departmentId.touched"
          name="departmentId"
        >
          <mat-option
            *ngFor="let department of departmentsByHosId"
            [value]="department.id"
          >
            {{ department.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- input email address -->
    <mat-form-field>
      <mat-label>Enter Email</mat-label>
      <input
        [class.is-invalid]="email.invalid && email.touched"
        formControlName="email"
        matInput
        type="text"
        [(ngModel)]="data.email"
      />
      <button
        mat-button
        *ngIf="data.email"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="data.email = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <!-- process error message for title -->
      <mat-error *ngIf="email.touched && email.invalid">
        <small *ngIf="email.errors?.required" style="color: red;"
          >Email is required</small
        >
        <small *ngIf="email.errors?.pattern" style="color: red;"
        >email co dang asdf@asfd.com
        </small>
      </mat-error>
    </mat-form-field>

    <!-- input address -->
    <mat-form-field>
      <mat-label>Enter Address</mat-label>
      <input
        [class.is-invalid]="address.invalid && address.touched"
        formControlName="address"
        matInput
        type="text"
        [(ngModel)]="data.address"
      />
      <button
        mat-button
        *ngIf="data.address"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="data.address = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <!-- process error message for title -->
      <mat-error *ngIf="address.touched && address.invalid">
        <small *ngIf="address.errors?.required" style="color: red;"
          >Address is required</small
        >
      </mat-error>
    </mat-form-field>

    <!-- input phone -->
    <mat-form-field>
      <mat-label>Enter Phone</mat-label>
      <input
        [class.is-invalid]="phoneNumber.invalid && phoneNumber.touched"
        formControlName="phoneNumber"
        matInput
        type="text"
        [(ngModel)]="data.phoneNumber"
      />
      <button
        mat-button
        *ngIf="data.phoneNumber"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="data.phoneNumber = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      <!-- process error message for title -->
      <mat-error *ngIf="phoneNumber.touched && phoneNumber.invalid">
        <small *ngIf="phoneNumber.errors?.required" style="color: red;"
          >Phone is required</small
        >
        <small *ngIf="phoneNumber.errors?.pattern" style="color: red;"
        >La mot day so co 10
        </small>
      </mat-error>
    </mat-form-field>
    <!-- Buttons  -->
    <div class="displayButton">
      <button
        class="button-submit"
        *ngIf="data.type === 'create'"
        [mat-dialog-close]="true"
        [disabled]="!addForm.valid"
        mat-raised-button
        type="submit"
      >
        Add Record
      </button>
      <button
        class="button-submit"
        *ngIf="data.type === 'edit'"
        [mat-dialog-close]="true"
        [disabled]="!addForm.valid"
        mat-raised-button
        type="submit"
      >
        Update
      </button>
      <button mat-stroked-button class="component-button" [mat-dialog-close]>
        Cancel
      </button>
    </div>
  </form>
</div>
